table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.dutch-word {
    font-size: 18px;
    font-weight: bold;
    color: #00698f;
    /* blue-ish color */
    cursor: pointer;
    /* change cursor to a hand pointer on hover */
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
    /* dotted underline on hover */
    transition: color 0.2s ease-in-out;
    /* smooth color transition */
}

.dutch-word:hover {
    color: #003d5c;
    /* darker blue-ish color on hover */
    border-bottom: 1px solid #ccc;
    /* solid underline on hover */
}

.dutch-word:focus {
    outline: none;
    /* remove default focus outline */
    box-shadow: 0 0 5px #ccc;
    /* add a soft box shadow on focus */
}

#tts-name::before {
    content: "\1F50A";
    /* Unicode speak icon */
    margin-right: 5px;
}

/* Left Menu */
.left-menu {
    float: left;
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-menu h4 {
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.left-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-menu li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.left-menu li:hover {
    background-color: #e0e0e0;
}

/* Table */
#word-list {
    float: left;
    width: 70%;
    margin-left: 20px;
    border-collapse: collapse;
    font-size: 16px;
}

#word-list th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

#word-list td {
    padding: 10px;
    border: 1px solid #ddd;
}

#word-list th,
#word-list td {
    text-align: left;
}

#word-list thead {
    background-color: #333;
    color: #fff;
}

#word-list tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#word-list tbody tr:hover {
    background-color: #e0e0e0;
}