html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* Ensure the content area is at least as tall as the viewport */
    /* min-width: 100vw;
    Ensure the content area is at least as wide as the viewport */
}

body {
    background-image: url('https://dqvn.github.io/dqvn/assets/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    /*background-color: #f0f0f0;
     Light gray background */
    padding: 20px;
    /* Add some padding */
    text-align: center;
    /* Center the text inside the header */
    width: 100%;
    /* Take full width */
    box-sizing: border-box;
    /* Ensure padding doesn't increase element width */
    margin-bottom: 0px;
    /* Add some margin to separate the header from the next element */
    backdrop-filter: blur(3px);
    text-shadow: 0px 0px 10px white, 0px 0px 7px white;
}

h1 {
    margin: 0;
    /* Remove default margin */
    color: #00698f;
}

.table-container {
    overflow-y: auto;
    height: 85vh;
    width: calc(100% - 250px);
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    /* Add this to prevent columns from resizing based on content */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    /* Add this to wrap text when it exceeds the column width */

    position: relative;
    /* Add this to create a new stacking context */
    z-index: 1;
    /* Add this to bring the text to the front */
    background-color: rgba(255, 255, 255, 0.7);
    /* Add this to create a semi-transparent background */
    backdrop-filter: blur(0px);
    /* Add this to blur the background image */
}

th:first-child,
td:first-child {
    width: 38px;
    /* Set the width of the first column to 30px */
}

th:nth-child(2),
td:nth-child(2) {
    width: 45%;
    /* Set the width of the second column to 50% */
}

th:nth-child(3),
td:nth-child(3) {
    width: 200px;
    /* 20%; */
    /* Set the width of the third column to 20% */
}

th:last-child,
td:last-child {
    width: auto;
    /* Set the width of the last column to auto (will take up remaining space) */
}

.dutch-word {
    font-size: 23px;
    font-weight: bold;
    color: #00698f;
    /* blue-ish color */
    cursor: pointer;
    /* change cursor to a hand pointer on hover */
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
    /* dotted underline on hover */
    transition: color 0.2s ease-in-out;
    /* smooth color transition */
    text-shadow: 0px 0px 10px white, 0px 0px 7px white;
    font-family: Helvetica, Arial, sans-serif;
}

.dutch-word:hover {
    color: #003d5c;
    /* darker blue-ish color on hover */
    border-bottom: 1px solid #ccc;
    /* solid underline on hover */
}

.dutch-word:focus {
    outline: none;
    /* remove default focus outline */
    box-shadow: 0 0 5px #ccc;
    /* add a soft box shadow on focus */
}

#tts-name::before {
    content: "\1F50A";
    /* Unicode speak icon */
    margin-right: 3px;
    margin-left: 5px;
}

/* Left Menu */
.left-menu {
    float: left;
    width: 160px;
    padding: 10px;
    /* background-color: #f0f0f0; */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    margin-left: 15px;
    margin-right: 15px;
    position: sticky;
    top: 0;
    height: fit-content;
}

.left-menu h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.left-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-menu li {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: #00698f;

    background-color: #f0f0f0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-menu li:hover {
    border-bottom: 3px solid #1cb508;
    color: #1cb508;
}

.file-container {
    height: 500px;
    overflow-y: auto;
}

/* Table */
#word-list {
    float: left;
    width: 100%;
    /* calc(100% - 100px) */
    border-collapse: collapse;
    font-size: 16px;
    overflow-y: hidden;
    /* Add this to hide the horizontal scrollbar */
}

#word-list th {
    background-color: #5270af;
    color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

#word-list td {
    padding: 10px;
    border: 1px solid #ddd;
}

#word-list th,
#word-list td {
    text-align: left;
}

#word-list thead {
    position: sticky;
    top: 0;
    background-color: #333;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

#word-list tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#word-list tbody tr:hover {
    /* background-color: #e0e0e0; */
    color: #233d91;
}

.spacer {
    margin-bottom: 20px;
    color: #00698f;
    text-shadow: 0px 0px 10px white, 0px 0px 7px white;
}

.container {
    overflow-y: auto;
}

#chapter {
    color: white;
}

footer {
    /* position: fixed; */
    bottom: 0;
    /* width: 100%; */
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #ddd;
}

/* .div-with-scrollbar {
    overflow-y: auto;
    height: 500px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
} */

.div-with-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.div-with-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.div-with-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.div-with-scrollbar::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.play-stop-button {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #4CAF50;
    /* green */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    /* margin-left: 55px; */
}

.play-stop-button:hover {
    background-color: #3e8e41;
    /* darker green */
}

.play-stop-button.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fff;
    /* white */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.play-stop-button.playing.icon {
    transform: translate(-50%, -50%) rotate(45deg);
}

.play-stop-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    /* white */
    transition: opacity 0.3s ease-in-out;
}

.play-stop-button.playing span {
    opacity: 0;
}


.volume-control-container {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

#volume-control {
    width: 50%;
    height: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #ccc;
    -webkit-appearance: none;
    appearance: none;
}

#volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1cb508;
    ;
    cursor: pointer;
}

#volume-control::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1cb508;
    ;
    cursor: pointer;
}

#volume-value {
    font-size: 16px;
    font-weight: bold;
    color: #1cb508;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* increase the z-index to bring it on top */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container>* {
    margin-bottom: 20px;
    /* Add space between each item */
}

#options button {
    margin: 10px;
    padding: 8px 16px;
}

.start-button {
    position: relative;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 20px;
}

.start-button:hover {
    background-color: #3e8e41;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    width: 100%;
}

.fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
}

.file-container .group-title {
    font-weight: bold;
    cursor: pointer;
}

.file-container .nested-list {
    display: none;
    /* Initially hidden */
    margin-left: 20px;
}

.file-container .nested-list.open {
    display: block;
}